form {
  display: grid;
}

html {
  width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#companies {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

#companies_table {
  width: 100%;
}

#companies_table th, td {
  border-bottom: 1px solid #ddd;
}